@font-face {
  font-family: "iconfont"; /* Project id 3931995 */
  src: url('//at.alicdn.com/t/c/font_3931995_ryk2kmvkov.woff2?t=1677997065805') format('woff2'),
       url('//at.alicdn.com/t/c/font_3931995_ryk2kmvkov.woff?t=1677997065805') format('woff'),
       url('//at.alicdn.com/t/c/font_3931995_ryk2kmvkov.ttf?t=1677997065805') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-julia:before {
  content: "\e65f";
}

.icon-apple:before {
  content: "\e633";
}

.icon-rust:before {
  content: "\e685";
}

.icon-java:before {
  content: "\f1d7";
}

.icon-js:before {
  content: "\ec68";
}

.icon-python:before {
  content: "\e70f";
}

.icon-rocket:before {
  content: "\e7bb";
}

.icon-reddit:before {
  content: "\e764";
}

.icon-earth:before {
  content: "\e6c0";
}

.icon-baike:before {
  content: "\e626";
}

.icon-wikipedia:before {
  content: "\e689";
}

.icon-zhihu:before {
  content: "\e87c";
}

.icon-facebook1:before {
  content: "\e64e";
}

.icon-discord1:before {
  content: "\e675";
}

.icon-img:before {
  content: "\e67c";
}

.icon-search:before {
  content: "\e82e";
}

.icon-mail:before {
  content: "\e812";
}

.icon-film1:before {
  content: "\e618";
}

.icon-tag1:before {
  content: "\e7f0";
}

.icon-Docker:before {
  content: "\e9f3";
}

.icon-code:before {
  content: "\e747";
}

.icon-rss:before {
  content: "\e654";
}

.icon-home:before {
  content: "\e8a0";
}

.icon-maps:before {
  content: "\e70e";
}

.icon-heartbeat:before {
  content: "\e704";
}

.icon-tag:before {
  content: "\e71f";
}

.icon-taobao:before {
  content: "\e600";
}

.icon-email:before {
  content: "\e628";
}

.icon-Twitter:before {
  content: "\ea3f";
}

.icon-weibo:before {
  content: "\e601";
}

.icon-alipay:before {
  content: "\e602";
}

.icon-line:before {
  content: "\e603";
}

.icon-qq:before {
  content: "\e6da";
}

.icon-music:before {
  content: "\e705";
}

.icon-image:before {
  content: "\e636";
}

.icon-link:before {
  content: "\e60f";
}

.icon-weixin:before {
  content: "\e665";
}

.icon-china:before {
  content: "\e674";
}

.icon-facebook:before {
  content: "\e639";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-google:before {
  content: "\ea0c";
}

.icon-paypal:before {
  content: "\ea0d";
}

.icon-sunrise:before {
  content: "\eced";
}

.icon-mathematica:before {
  content: "\e666";
}

.icon-set_about_hov:before {
  content: "\e688";
}

.icon-archive:before {
  content: "\e6a0";
}

.icon-baidu:before {
  content: "\e609";
}

.icon-bilibili:before {
  content: "\e60a";
}

.icon-discord:before {
  content: "\e60b";
}

.icon-telegram:before {
  content: "\e60c";
}

.icon-gmail:before {
  content: "\e60d";
}

.icon-gitee:before {
  content: "\e60e";
}

.icon-film:before {
  content: "\e6a4";
}

.icon-category:before {
  content: "\e63b";
}
